<div class="container">
  <h3 class="text-center">ContactUs</h3>
  
  <%= form_for "/contacts" do |f| %>
   
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :questions %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'submit' %>
  
  <% end %>
    
</div>